# Azure
AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# ADLS Gen2
ADLS_ACCOUNT_NAME=
ADLS_ACCOUNT_KEY=

# Databricks
DATABRICKS_HOST=https://adb-XXXXXXXXX.azuredatabricks.net
DATABRICKS_TOKEN=

# Kafka / Event Hubs
EVENTHUB_CONN_STR=
KAFKA_BOOTSTRAP_SERVERS=your-namespace.servicebus.windows.net:9093
SCHEMA_REGISTRY_URL=

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=TRANSFORMER_PROD
SNOWFLAKE_WAREHOUSE=TRANSFORM_WH_PROD
SNOWFLAKE_DATABASE=LAKEHOUSE_PROD

# Terraform State
TF_STATE_STORAGE_ACCOUNT=
